h1 
  $height = 168.77px
  width 300px
  height $height
  text-shadow 3px 3px #333333
  background url('../images/1.jpg') no-repeat
  background-size: auto 300px
  box-shadow 3px 3px 15px #333333
  margin 100px auto
  line-height $height